---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" dir="ltr">
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<a class="back-link" href=".">
				<span class="btn btn-primary btn-back innerHTML-back">&lt; Back</span>
			</a>

			{% include modal.html %}

			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-12 mw-50 main-content mx-auto">
						<div class="row">
							<div class="col-md-4 mb-3">
								<div class="card">
										{% if page.images.size > 0 %}
											<div class="card-header">
												<img class="mx-auto d-block mw-100 app-image" src="{{ page.images[0].url }}" alt="{{ page.images[0].description | default: page.title | escape }}">
											</div>
										{% endif %}
										<div class="card-body" dir="ltr">
											<div>
												<h4 class="card-title text-center mb-0">{{ page.title }}</h4>
												<small class="d-block text-center mb-3">{{ page.manufacturer }} | {{ page.codename}}</small>
											</div>
										</div>
									<div class="card-footer">
										<small>
											<dl>
												{% if page.categories.size > 0 %}
												<div>
													<dt class="innerHTML-categories">Categories:</dt>
													<dd>
														{%- for category in page.categories -%}
															{%- assign cat = category | prepend: "cat-" -%}
															<a href="/{{ page.collection }}/category/{{ category }}" class="innerHTML-cat-{{ category }}">{{ category }}</a>{% if forloop.last == false %},{% endif %}
														{% endfor %}
													</dd>
												</div>
												{% endif %}
												{% if page.kernel %}
												<div>
													<dt class="innerHTML-kernelversion">Kernel version:</dt>
													<p>{{ page.kernel.version }}</p>
												</div>
												{% endif %}
											</dl>
										</small>
									</div>
								</div>
								<div class="text-center pt-3">
									{% if page.kernel %}
										<a class="btn btn-primary m-1 innerHTML-kernel" href="{{ page.kernel.url }}">Kernel source</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-12">
											<h2 class="innerHTML-downloads">Downloads</h2>
											{% if page.downloads %}
											{% for item in page.downloads %}
												<span class="text-nowrap">
													<a class="btn btn-primary m-1 innerHTML-download-name" {% if item[1].size_str %}title="Size: {{ item[1].size_str }}"{% endif %} href="{{ item[1].url }}" data-name="{{ item[0] }}">{{ item[0] }}</a>
												</span>
											{% endfor %}
											{% else %}
											<span class="text-nowrap">
												<p>Coming soon!</p>
											</span>
											{% endif %}
										</div>
									</div>
								{% if content.size > 1 %}
									<div class="row mt-3">
										<div class="col-12">
											<div dir="ltr">
												{{ content }}
											</div>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	{% include common-js.html %}
	<script src="/assets/js/modal.js"></script>
</body>
</html>
